button {
    font-size: 24px;
        font-weight: bold;
        color: white;
        text-decoration: none;
        padding: 12px 24px;
        background-color: blue;
        border-radius: 10px;
        transition: all 0.3s ease-in-out;
    
        &:hover {
            background: white;
            color: black;
        }
}